extends layout

block content
  //- .color-picker
  //-   .explanation
  //-     h1 Choose your background theme
  //-   .color-holder
  //-     .color.red
  //-     .color.orange
  //-     .color.yellow
  //-     .color.green
  //-     .color.blue
  //-     .color.indigo
  //-     .color.violet
  //-     .color.grey
  //-     .color.black

  .website-chooser
    .explanation 
      h1.explanation-text From which site would you like note cards?
    .site-holder
      a(href="/fullstack-cafe/1").site 
        .vertical-align 30 Seconds Of Interviews
      a(href="/thirty-seconds/1").site 
        p.vertical-align Fullstack Cafe
    

  .grid
    .card
      .card__front
        .card__front-question-section
          h1.card__front-question-section-question #{question}
        .card__front-button-section
          p.absolute-position-p See Answer

      .card__back.display-none 
        .card__back-answer-section
          if website === "fullstack-cafe"
            each item in answer 
              p.card__back-answer-section-answer #{item} 
              <br/>
          if website === "thirty-seconds"
            p.card__back-answer-section-answer #{answer}
        .card__back-button-section 
          p.absolute-position-p See Question
    
      .button-box
        a(href=`/${website}/${previousId}`).button-previous 
         p.absolute-position-p Previous

        a(href=`/${website}/${nextId}`).button-next 
          p.absolute-position-p Next
    
  .question-links
    - let i = 0;
    while i < listLength
      .question 
        a(href=`/${website}/${i + 1}`).question-number= i++ 
    


